* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 80%;
    margin: auto;
}

body {
    background-image: url('../imagenes/fondo01.jpg');
    background-size: cover;
}


header {
    background: #A80117;
    padding: 15px 0;
}

header h1 {
    display: inline-block;
    vertical-align: top;
    color: peachpuff;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.05em;
    font-size: 30px;
}



p,
h2 {
    color: peachpuff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    text-align: justify;
    line-height: 150%
}

a {
    color: peachpuff;
    list-style: square outside none;
}

.portada {
    display: flex;
}

.imagen_jlr {
    align-self: center
}

body section div img{
    border-radius: 0%;
}

.spotify {
    align-self: enter;
}

header nav .menu li a {
    color: peachpuff;
    text-transform: uppercase;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav .menu li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

header nav .menu .submenu {
    background: #A80117;
    position: absolute;
    width: 150px;
    display: none;
    padding-top: 10px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}


header nav .menu li:hover .submenu {
    display: block;
} 

header nav .menu li a:hover {
    color: #FFC857;
}

header nav .menu .submenu li {
    display: block;
    margin: 0;
    padding: 5px;
}

header nav .menu .submenu li:hover {
    background: #B0413E;
}

section img {
    display: inline-block;
    margin: auto;
    float: left;
    padding: 0 30px 0 0px;
}

section {
    padding: 50px 0;
}

.spotify{
    display: block;
    margin: auto;
    padding: 0 30px 0 0 ;
}

.texto_historia{
    padding: 30px;
    display: inline-block;  
}

.jlr_historia{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.links_notas{
    padding: 30px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main section img{
    width: 300px;
    height: 300px;
}

/*Página Notas*/

.entrevistas{
    text-align: center;
    color: #FFFFC7;
    font-family: 'raleway', sans-serif;
    letter-spacing: 0.05em;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    animation-name: colores;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
    transition: width 2s, background 1s;
}

@keyframes colores {
    0% {
        color: #F0544F;
    }

    50% {
        color: #F21B3F;
    }

    100% {
        color: #D00000;
    }
}

.links_notas div {
    padding: 10px;
  }
  
/*Probando animcación en discografía*/

.galeria img:hover {
    opacity: 0.8;
  }

/*Probando animcación en Inicio*/

.disco_animado {
    margin-left: 20px;
    padding: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: desplazar 10s linear;
 }

 @keyframes desplazar {
    0% {
      transform: translate(100vw, 0);
    }
    /*
    50% {
      transform: translate(100vw, 0);
    }
    
    80% {
      transform: translate(-100vw, 0);
    }*/
  }

 