* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 80%;
    margin: auto;
}

body {

    background-image: url('/imagenes/fondo01.jpg');
    background: #151515;
}


header {
    background: #A63D40;
    padding: 15px 0;
}

header h1 {
    display: inline-block;
    vertical-align: top;
    color: #E9B872;
    font-family: 'raleway', sans-serif;
    letter-spacing: 0.05em;
    font-size: 30px;
}



p,
h2 {
    color: #EFF0D1;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    text-align: justify;
    line-height: 150%
}

a {
    color: #EFF0D1;
    list-style: square outside none;
}


header nav {
    float: right;
    margin-top: 10px;
}

header nav .menu li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

header nav .menu .submenu {
    background: #070707;
    position: absolute;
    width: 150px;
    display: none;
    padding-top: 10px;
}

header nav .menu li:hover .submenu {
    display: block;
}

section img {
    display: inline-block;
    margin: auto;
    float: left;
    padding: 0 30px 0 0px;
}

section {
    padding: 50px 0;
}

.spotify{
    display: block;
    margin: auto;
    padding: 0 30px 0 0 ;
}